.btPurple {
    color: white;
    background-color: #9353FF;
}

.btPurple:hover {
    color: #9353FF;
    background-color: white;
    transition: .3s;
    border: 1px solid #9353FF;
}

.verde-limao {
    color: #DAFF01;
}

.posicao {
    top: 40%;
}

@media(max-width: 767px) {
    .posicao {
        top: 57%;
    }
}

@media(max-width: 374px) {
    .posicao {
        top: 45%;
    }

    .texto {
        line-height: 1.4rem;
    }
}