/* Variáveis */
:root {
    /* Fonte */
    --fonte: 'Inter', sans-serif;
    /* Cores de fundo e da fonte */
    --roxo: #9353FF;
    --branco: #FFFFFF;
}

/* Body */
body {
    font-family: var(--fonte);
}

/* Valor dos produtos da seção "Produtos que estão bombando */
.valor-produto, .tituloProduto {
    font-weight: 700;
}

/* Botão roxo da seção "Produtos que estão bombando" e "Formulário" */
.btPurple {
    color: var(--branco);
    background-color: var(--roxo);
}

.btPurple:hover {
    color: var(--roxo);
    background-color: var(--branco);
    transition: .3s;
    border: 1px solid var(--roxo);
}

/* Cor dos ícones da seção "Conheça todas as nossas facilidades" */
.verde-limao {
    color: #DAFF01;
}

.posicao {
    top: 40%;
}

@media(max-width: 767px) {
    .posicao {
        top: 57%;
    }
}

@media(max-width: 374px) {
    .posicao {
        top: 45%;
    }

    .texto {
        line-height: 1.4rem;
    }
}